@import '../mixins'

.button
  display: flex
  justify-content: center
  align-items: center
  width: fit-content
  text-decoration: none
  text-align: center
  color: #ffffff
  box-sizing: border-box
  padding: 30px 12px
  min-width: 220px
  background-color: $accent-text
  transition: color .25s ease-out, background-color .25s ease-out
  outline: none
  border: 0
  font-size: 14px
  line-height: 100%
  text-transform: uppercase
  font-weight: bold
  cursor: pointer
  &:hover
    color: $black-text
  &_flat
    background-color: transparent
    color: $black-text
    border: 2px solid $accent-text
    padding: 28px 10px
    &:hover
      color: #ffffff
      background-color: $accent-text
  &_white
    background-color: #ffffff
    color: $black-text
    &:hover
      color: $accent-text