@import '../mixins'


.footer
  font-size: 14px
  color: #ffffff
  padding: 100px 0
  background-color: $black-text
  background-image: url("../img/footer-back.webp")
  background-size: auto 460px
  background-position: center bottom
  background-repeat: no-repeat
  @include phone
    padding: 60px 0
    text-align: center
  h4
    opacity: 0.6
    margin-bottom: 13px
  a
    text-decoration: none
    text-transform: none
    font-weight: normal
    color: inherit
  ul
    margin: 0
    padding: 0
  .contact
    font-size: 20px !important
    line-height: 28px !important
    @include phone
      font-size: 16px !important
      line-height: 20px !important
  &__content
    display: flex
    justify-content: space-between
    align-items: stretch
    @include tablet
      flex-wrap: wrap
    @include phone
      flex-wrap: unset
      flex-direction: column
      align-items: center
      justify-content: flex-start
  &__block
    &:nth-child(3n+1), &:nth-child(3n+3)
      width: calc(#{$w-cg} * 3 - 20px)
    &:nth-child(3n+2)
      width: calc(#{$w-cg} * 6 - 20px)
    @include tablet
      order: 2
      width: 50% !important
      &:nth-child(3n+3)
        text-align: right
    @include phone
      order: unset
      width: auto !important
      &:not(:last-child)
        margin-bottom: 30px
  .contact-block
    &:not(:last-child)
      margin-bottom: 40px
      @include phone
        margin-bottom: 30px
  .spacer
    margin-bottom: auto !important
  .footer-nav
    display: flex
    justify-content: space-between
    gap: 20px
    @include tablet
      order: 1
      width: 100% !important
      margin-bottom: 40px
    @include phone
      order: unset
      display: none
    &__main-ul
      height: 100%
      display: flex
      flex-direction: column
      width: 30%
      li
        display: block
        list-style: none
        &:not(:last-child)
          margin-bottom: 10px
      .copyright
        white-space: nowrap
        overflow: visible
  .footer-col
    display: flex
    flex-direction: column
    align-items: stretch
    max-width: 300px
    height: 100%
    @include phone
      max-width: unset
      height: unset
      align-items: center
      p:not(:last-child)
        margin-bottom: 16px
      p
        font-size: 12px
        line-height: 16px
    &_right
      margin-left: auto
    &_left
      margin-right: auto
      justify-content: space-between
    .row
      &.societies
        margin: -5px -5px 50px
        justify-content: flex-start
        flex-wrap: wrap
        @include phone
          margin-bottom: 30px
        .society
          margin: 5px
      display: flex
      justify-content: space-between
      margin-bottom: 50px
      width: 100%
      @include phone
        width: auto
        margin-bottom: 30px
        justify-content: center
        a:not(:last-child)
          margin-right: #{$gap-phone}
        &.short
          width: 200px
      a
        font-size: 16px
        line-height: 20px