@import '../mixins'


.header
  position: fixed
  height: calc(#{$w-c})
  background-color: $header-back-gray
  margin-top: $gap
  display: flex
  align-items: stretch
  font-size: 16px
  z-index: 20
  @include tablet
    height: calc(#{$w-c-phone})
    margin-top: $gap-phone
  .spacer
    display: none
    @include sm-phone
      display: block
  &_mb
    margin-bottom: calc((-1) * (#{$w-c} + 20px))
    @include tablet
      margin-bottom: calc((-1) * (#{$w-c-phone} + #{$gap-phone}))
  &__item
    display: flex
    align-items: center
    justify-content: center
    color: $black-text
    transition: color .25s ease-out
    &_extended
      justify-content: space-between
      flex-grow: 1
      padding: 0 50px
      a
        font-weight: 500
      @include tablet
        padding: 0 25px
      @include sm-phone
        display: none
    &_square
      width: calc(#{$w-c})
      @include tablet
        width: calc(#{$w-c-phone})
    &_rect, &_ext-rect
      padding-left: 12px
      padding-right: 12px
    &_rect
      min-width: calc(#{$w-cg} + 20px)
    &_ext-rect
      min-width: calc(2 * #{$w-c})
    &_rect, &_ext-rect
      @include tablet
        display: none
    &_gray
      background-color: $gray
    &_accent
      background-color: $accent-text
      &:hover, a:hover
        color: #ffffff
    &_accent-svg
      background-color: $accent-light
    &_light-gray
      background-color: $light-gray
    svg
      width: 36px
      height: 36px
      fill: $black-text
      stroke: $black-text
      transition: all .25s ease-out
      @include tablet
        width: 22px
        height: 22px
    &:hover
      svg
        fill: $accent-text
        stroke: $accent-text
  &__link-tree
    display: flex
    align-items: stretch
    text-transform: uppercase
    font-weight: bold
    cursor: pointer
  &__link-tree:hover &__item
    color: $accent-text
    &_accent
      color: #ffffff
    svg
      fill: $accent-text
      stroke: $accent-text
  &__center-link
    position: absolute
    z-index: 5
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: block
    height: 60%
    min-width: 130px
    background-position: center center
    background-repeat: no-repeat
    background-size: contain
    @include tablet
      height: 30px
    svg
      height: 100%