@import '../mixins'

.select-cards
  display: flex
  flex-wrap: wrap
  align-items: stretch
  margin-right: -10px
  margin-bottom: -10px
  input
    position: absolute
    width: 0
    height: 0
    opacity: 0
  &__item
    min-width: 150px
    max-width: 300px
    margin-right: 10px
    margin-bottom: 10px
    border: 1px solid $gray
    box-sizing: border-box
    padding: 27px 23px 23px
    display: flex
    flex-direction: column
    align-items: stretch
    text-align: center
    cursor: pointer
    width: calc(20% - 10px)
    transition: color .25s ease-out, border .25s ease-out
    @include adaptive(1040)
      width: calc(33.33% - 10px)
    @include adaptive(578)
      width: calc(50% - 10px)
    @include adaptive(360)
      width: calc(100% - 10px)
    &.disabled
      opacity: .5
      pointer-events: none
    &_active:not(.disabled), &:not(.disabled):active
      border: 1px solid $accent-text
      color: $accent-text
  &__item:not(.disabled):hover &__item-icon
    color: $accent-text
  &__item-icon
    transition: color .25s ease-out
    svg
      height: 26px
    &:not(:last-child)
      margin-bottom: 11px
  &__item-title
    text-transform: uppercase
    font-weight: bold
    &:not(:last-child)
      margin-bottom: 8px
  &__item-text
    font-weight: normal
    font-size: 11px
    line-height: 15px
  &_index
    margin-right: 0
    margin-bottom: 0
  &_index &__item
    border: 1px solid rgba(23,23,23,0.1)
    padding: 23px
    margin-right: 0
    margin-bottom: 0
    width: calc(100% / 3)
    flex-direction: row
    justify-content: center
    align-items: center
    text-align: left
    position: relative
    overflow: hidden
    @include adaptive(1440)
      width: 50%
    &:after
      position: absolute
      content: ''
      height: 2px
      width: calc(100% + 1px)
      background-color: $accent-text
      bottom: 0
      left: -1px
      transform: translateX(-100%)
      transition: transform .25s ease-out
    &:not(.disabled) &_active
      color: inherit
      &:after
        transform: translateX(0)
  &_index &__item-icon
    margin-right: 18px
    margin-bottom: 0
    line-height: 0
  &_index &__item-title
    display: flex
    flex-direction: column
    justify-content: space-between
    line-height: 18px
    &:before
      content: attr(data-before)
      display: block
      font-weight: normal
      text-transform: none
      font-size: 12px


.helicopter-card-list
  &-enter, &-leave-to
    opacity: 0
  &-leave-active
    position: absolute
  &-move
    transition: transform 1s ease-out