@import '../mixins'

.text-input
  display: block
  width: auto
  background-color: #ffffff
  border: 1px solid $gray
  padding: 30px
  box-sizing: border-box
  outline: none
  font-size: 14px
  line-height: 18px
  @include sm-phone
    padding: 20px