@import "mixins"

.bg
  height: 800px
  max-height: calc(var(--vh) * 100)
  color: #ffffff
  margin-bottom: 84px
  @include tablet
    height: unset
    min-height: 480px
  h1
    font-size: 36px
    line-height: 48px
    @include tablet
      font-size: 24px
      line-height: 32px

.blog-article
  &:not(:last-child)
    padding-bottom: 120px
    margin-bottom: 100px
    position: relative
    box-sizing: border-box
    @include tablet
      padding-bottom: 60px
      margin-bottom: 60px
    &:after
      content: ''
      position: absolute
      left: 15px
      bottom: 0
      width: calc(100% - 30px)
      height: 1px
      background-color: $gray
  article
    p, ul, ol
      &:not(:last-child)
        margin-bottom: 30px
        @include phone
          margin-bottom: 22px
  h3.blog-article__big-text, .blog-article__big-text
    text-transform: none
    font-weight: normal
    font-size: 25px
    line-height: 36px
    @include tablet
      font-size: 21px
      line-height: 30px
    @include phone
      font-size: 18px
      line-height: 30px
  article:not(:last-child), .swiper-container:not(:last-child), .gallery:not(:last-child)
    margin-bottom: 50px
    @include tablet
      margin-bottom: 30px