@import "mixins"

.bg
  padding-bottom: 120px
  margin-bottom: -100px !important
  @include tablet
    padding-bottom: 40px
    margin-bottom: -20px !important

.excursions
  &:not(:last-child)
    position: relative
    padding-bottom: 120px
    @include tablet
      padding-bottom: 80px
    @include phone
      padding-bottom: 40px
    &:after
      content: ''
      position: absolute
      left: 15px
      bottom: 0
      width: calc(100% - 30px)
      height: 1px
      background-color: $gray
  .button
    @include centerMargin

.excursions-gallery
  display: flex
  flex-wrap: wrap
  margin-right: -20px
  margin-bottom: -20px
  @include tablet
    margin-right: -10px
    margin-bottom: -10px
  @include sm-phone
    flex-direction: column
    margin-right: 0
  &:not(:last-child)
    margin-bottom: 60px
    @include tablet
      margin-bottom: 40px
    @include phone
      margin-bottom: 20px
  .excursion-card
    width: calc(33% - 20px)
    margin-right: 20px
    margin-bottom: 20px
    @include tablet
      margin-right: 10px
      margin-bottom: 10px
    @include sm-tablet
      width: calc(50% - 10px)
    @include sm-phone
      width: 100%
      margin-bottom: 10px
      margin-right: 0

.excursion-card-list
  &-enter, &-leave-to
    opacity: 0
  &-enter-active, &-leave-active
    transition: opacity 1s ease-in-out