@import 'mixins'

.bg
  @include bgNegativeMarginBottom

.our-instagram
  &:not(:last-child)
    margin-bottom: 140px
    @include sm-tablet
      margin-bottom: 80px
    @include sm-phone
      margin-bottom: 40px