@import 'mixins'

.bg
  padding-bottom: 120px
  margin-bottom: -100px !important
  @include tablet
    padding-bottom: 40px
    margin-bottom: -20px !important

.our-instagram
  &:not(:last-child)
    margin-bottom: 140px
    @include sm-tablet
      margin-bottom: 80px
    @include sm-phone
      margin-bottom: 40px
  &__gallery
    margin-bottom: 50px
    @include tablet
      margin-bottom: 30px
    @include phone
      margin-bottom: 20px
  &__button
    min-width: 220px
    @include centerMargin

.col-text
  &__text
    column-count: 2
    column-gap: 70px
    @include sm-tablet
      column-gap: 20px
    @include sm-phone
      column-count: 1