include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title Helitour | Articles
    link(href="css/articles.css" rel="stylesheet")
    script(defer src="js/articles.js")
  body
    +header('_mb')
    main
      +b.SECTION.bg_stroke._with-header
        h1 Статті
      +b.SECTION.card-gallery.content.content__inner
        +e.content
          +b.base-card_article.card-gallery__card
            +e.img(data-back-webp='img/hel1.webp' data-back-jpg='img/hel1.jpg')
            +e.content
              +e.P.title Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") Читати
          +b.base-card_article.card-gallery__card
            +e.img(data-back-webp='img/hel3.webp' data-back-jpg='img/hel3.jpg')
            +e.content
              +e.P.title в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") Читати
          +b.base-card_article.card-gallery__card
            +e.img(data-back-webp='img/hel5.webp' data-back-jpg='img/hel5.jpg')
            +e.content
              +e.P.title Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") Читати
          +b.base-card_article.card-gallery__card
            +e.img(data-back-webp='img/hel4.webp' data-back-jpg='img/hel4.jpg')
            +e.content
              +e.P.title в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") Читати
          +b.base-card_article.card-gallery__card
            +e.img(data-back-webp='img/hel1.webp' data-back-jpg='img/hel1.jpg')
            +e.content
              +e.P.title Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") Читати
          +b.base-card_article.card-gallery__card
            +e.img(data-back-webp='img/hel3.webp' data-back-jpg='img/hel3.jpg')
            +e.content
              +e.P.title в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") Читати
          +b.base-card_article.card-gallery__card
            +e.img(data-back-webp='img/hel5.webp' data-back-jpg='img/hel5.jpg')
            +e.content
              +e.P.title Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") Читати
          +b.base-card_article.card-gallery__card
            +e.img(data-back-webp='img/hel4.webp' data-back-jpg='img/hel4.jpg')
            +e.content
              +e.P.title в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") Читати
        +b.page-navigation.card-gallery__navigation
          +e.A(href="#").link_square
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.44 25")
              polyline(points="14.44 2 2 12.5 14.44 23" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" fill-rule="evenodd")
          +e.A(href="#").link_current 1
          +e.A(href="#").link 2
          +e.A(href="#").link 3
          +e.A(href="#").link 4
          +e.A(href="#").link 5
          +e.A(href="#").link 6
          +e.A(href="#").link 7
          +e.A(href="#").link ...
          +e.A(href="#").link 30
          +e.A(href="#").link_square
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.44 25")
              polyline(points="2 2 14.44 12.5 2 23" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" fill-rule="evenodd")
    +footer