include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title Helitour | excursions
    link(href="css/excursions.css" rel="stylesheet")
    script(defer src="js/excursions.js")
  body
    +header('_mb')
    main#app
      +b.SECTION.bg_stroke._with-header
        h1 Екскурсії на вертольотах
      +b.SECTION.excursions.content.content__inner
        +b.TRANSITION-GROUP(name='excursion-card-list' tag='div').excursions-gallery
          +b.DIV(key='0').excursion-card.swiper-slide
            +picture('img/exc1.webp', 'img/exc1.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Оглядовий політ над Києвом
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='1').excursion-card.swiper-slide
            +picture('img/exc2.webp', 'img/exc2.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Політ над Київом та Межигір’ям
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='2').excursion-card.swiper-slide
            +picture('img/exc3.webp', 'img/exc3.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Вертолітний тур «Церква на воді»
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='3').excursion-card.swiper-slide
            +picture('img/exc4.webp', 'img/exc4.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Політ над Київом та Межигір’ям
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='4').excursion-card.swiper-slide
            +picture('img/exc1.webp', 'img/exc1.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Оглядовий політ над Києвом
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='5').excursion-card.swiper-slide
            +picture('img/exc2.webp', 'img/exc2.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Політ над Київом та Межигір’ям
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='6').excursion-card.swiper-slide
            +picture('img/exc3.webp', 'img/exc3.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Вертолітний тур «Церква на воді»
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='7').excursion-card.swiper-slide
            +picture('img/exc4.webp', 'img/exc4.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Політ над Київом та Межигір’ям
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='8').excursion-card.swiper-slide
            +picture('img/exc1.webp', 'img/exc1.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Оглядовий політ над Києвом
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(
            v-for='card in newCards'
            :key='card.title'
          ).excursion-card.swiper-slide
            picture(class='excursion-card__img')
              source(:srcset='card.img.webp' type='image/webp')
              source(:srcset='card.img.jpg' type='image/jpeg')
              img(:src='card.img.jpg' alt='Excursion card image')
            +e.content
              h3 {{ card.title }}
              +e.SPAN(data-after='хв').info_w-icon {{ card.info }}
              +e.footer
                a(:href='card.linkHref') {{ card.linkText }}
        +b.SPAN(v-if='!endedCards' @click='clickMore').button Більше
      +excursions-certificate
      +col-text
    +footer