include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title Helitour | excursions
    link(href="css/excursions.css" rel="stylesheet")
    script(defer src="js/excursions.js")
  body
    +header('_mb')
    main#app
      +b.SECTION.bg_stroke._with-header
        h1 Екскурсії на вертольотах
      +b.SECTION.excursions.content.content__inner
        +b.TRANSITION-GROUP(name='base-card_excursion-list' tag='div').excursions-gallery
          +b.DIV(key='0').base-card_excursion
            +e.img(data-back-webp='img/exc1.webp' data-back-jpg='img/exc1.jpg')
            +e.content
              +e.P.title Оглядовий політ над Києвом
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='1').base-card_excursion
            +e.img(data-back-webp='img/exc2.webp' data-back-jpg='img/exc2.jpg')
            +e.content
              +e.P.title Політ над Київом та Межигір’ям
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='2').base-card_excursion
            +e.img(data-back-webp='img/exc3.webp' data-back-jpg='img/exc3.jpg')
            +e.content
              +e.P.title Вертолітний тур «Церква на воді»
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='3').base-card_excursion
            +e.img(data-back-webp='img/exc4.webp' data-back-jpg='img/exc4.jpg')
            +e.content
              +e.P.title Політ над Київом та Межигір’ям
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='4').base-card_excursion
            +e.img(data-back-webp='img/exc1.webp' data-back-jpg='img/exc1.jpg')
            +e.content
              +e.P.title Оглядовий політ над Києвом
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='5').base-card_excursion
            +e.img(data-back-webp='img/exc2.webp' data-back-jpg='img/exc2.jpg')
            +e.content
              +e.P.title Політ над Київом та Межигір’ям
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='6').base-card_excursion
            +e.img(data-back-webp='img/exc3.webp' data-back-jpg='img/exc3.jpg')
            +e.content
              +e.P.title Вертолітний тур «Церква на воді»
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='7').base-card_excursion
            +e.img(data-back-webp='img/exc4.webp' data-back-jpg='img/exc4.jpg')
            +e.content
              +e.P.title Політ над Київом та Межигір’ям
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(key='8').base-card_excursion
            +e.img(data-back-webp='img/exc1.webp' data-back-jpg='img/exc1.jpg')
            +e.content
              +e.P.title Оглядовий політ над Києвом
              +e.SPAN(data-after='хв').info_w-icon 18
              +e.footer
                a(href="#") дОКЛАДНШЕ
          +b.DIV(
            v-for='card in newCards'
            :key='card.title'
          ).base-card_excursion
            +e.img(:data-back-webp='card.img.webp' :data-back-jpg='card.img.jpg')
            +e.content
              +e.P.title {{ card.title }}
              +e.SPAN(data-after='хв').info_w-icon {{ card.info }}
              +e.footer
                a(:href='card.linkHref') {{ card.linkText }}
        +b.SPAN(v-if='!endedCards' @click='clickMore').button Більше
      +excursions-certificate
      +col-text
    +footer