include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title Helitour | excursion
    link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")
    link(href="css/excursion.css" rel="stylesheet")
    script(defer src="js/excursion.js")
  body
    +header
    main
      +b.SECTION.bg_with-header#js__fixed-visible-controller
        +picture('img/excursion-main-back.webp', 'img/excursion-main-back.jpg', 'Main helicopter', 'bg__image')
        .content.content__inner
          h1.h2 Політ над Київом та Межигір’ям 24 хвилини
          +e.excursion-info-cards
            +b.excursion-info-card
              +e.SVG.icon(height='682pt' viewbox='-21 -102 682.66669 682' width='682pt' xmlns='http://www.w3.org/2000/svg')
                path(d='m640 398.457031v-87.578125l-76.1875-110.214844c-24.640625-35.65625-61.789062-56.105468-101.914062-56.105468h-39.796876v-75.578125h-43.804687v-36.660157h159.042969v-37.488281h-355.550782v37.488281h159.015626v36.660157h-43.773438v75.578125h-182.296875l-27.074219-67.699219h-87.660156v178.980469h90.941406l202.527344 39.617187v14.410157c0 48.847656 39.738281 88.589843 88.585938 88.589843h2.554687v35.972657h-56.8125v37.484374h311.96875v-37.484374h-76.164063v-35.972657zm-107.023438-176.480469 40.84375 59.085938h-108.140624l-44.757813-99.011719h40.972656c27.636719 0 53.542969 14.550781 71.082031 39.925781zm-198.460937-115.511718h50.09375v38.09375h-50.09375zm-210.183594 75.585937h38.714844v49.703125l-38.714844-7.578125zm-86.847656-67.707031h24.796875l24.5625 61.421875v42.589844h-49.359375zm293.46875 195.527344v-45.273438l-130.421875-25.511718v-57.035157h179.253906l61.703125 136.5h158.242188l2.785156 4.023438v38.398437h-220.460937c-28.179688 0-51.101563-22.925781-51.101563-51.101562zm195.164063 124.558594h-104.015626v-35.972657h104.015626zm0 0')
              +e.subtitle Вертолiт:
              +e.title Robinson R44
            +b.excursion-info-card
              +e.SVG.icon(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                path(d='M437,268.152h-50.118c-6.821,0-13.425,0.932-19.71,2.646c-12.398-24.372-37.71-41.118-66.877-41.118h-88.59\
                  c-29.167,0-54.479,16.746-66.877,41.118c-6.285-1.714-12.889-2.646-19.71-2.646H75c-41.355,0-75,33.645-75,75v80.118\
                  c0,24.813,20.187,45,45,45h422c24.813,0,45-20.187,45-45v-80.118C512,301.797,478.355,268.152,437,268.152z M136.705,304.682\
                  v133.589H45c-8.271,0-15-6.729-15-15v-80.118c0-24.813,20.187-45,45-45h50.118c4.072,0,8.015,0.553,11.769,1.572\
                  C136.779,301.366,136.705,303.016,136.705,304.682z M345.295,438.271h-178.59V304.681c0-24.813,20.187-45,45-45h88.59\
                  c24.813,0,45,20.187,45,45V438.271z M482,423.271c0,8.271-6.729,15-15,15h-91.705v-133.59c0-1.667-0.074-3.317-0.182-4.957\
                  c3.754-1.018,7.697-1.572,11.769-1.572H437c24.813,0,45,20.187,45,45V423.271z')
                path(d='M100.06,126.504c-36.749,0-66.646,29.897-66.646,66.646c-0.001,36.749,29.897,66.646,66.646,66.646\
                  c36.748,0,66.646-29.897,66.646-66.646C166.706,156.401,136.809,126.504,100.06,126.504z M100.059,229.796\
                  c-20.207,0-36.646-16.439-36.646-36.646c0-20.207,16.439-36.646,36.646-36.646c20.207,0,36.646,16.439,36.646,36.646\
                  C136.705,213.357,120.266,229.796,100.059,229.796z')
                path(d='M256,43.729c-49.096,0-89.038,39.942-89.038,89.038c0,49.096,39.942,89.038,89.038,89.038s89.038-39.942,89.038-89.038\
                  C345.038,83.672,305.096,43.729,256,43.729z M256,191.805c-32.554,0-59.038-26.484-59.038-59.038\
                  c0-32.553,26.484-59.038,59.038-59.038s59.038,26.484,59.038,59.038C315.038,165.321,288.554,191.805,256,191.805z')
                path(d='M411.94,126.504c-36.748,0-66.646,29.897-66.646,66.646c0.001,36.749,29.898,66.646,66.646,66.646\
                  c36.749,0,66.646-29.897,66.646-66.646C478.586,156.401,448.689,126.504,411.94,126.504z M411.94,229.796\
                  c-20.206,0-36.646-16.439-36.646-36.646c0.001-20.207,16.44-36.646,36.646-36.646c20.207,0,36.646,16.439,36.646,36.646\
                  C448.586,213.357,432.147,229.796,411.94,229.796z')
              +e.subtitle К-сть пасажирів:
              +e.title 3 пасажири + пілот
            +b.excursion-info-card
              +e.SVG.icon(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
                path(d='M496,256.012h-16v-80c0-8.832-7.168-16-16-16h-16v-48c0-8.832-7.168-16-16-16h-54.112l-27.584-55.168\
                  c-3.968-7.936-13.568-11.104-21.472-7.168L291.968,52.14l-5.664-11.296c-3.968-7.904-13.568-11.104-21.472-7.136L140.224,96.012\
                  H48c-26.464,0-48,21.536-48,48v288c0,26.464,21.536,48,48,48h416c8.832,0,16-7.168,16-16v-80h16c8.832,0,16-7.168,16-16v-96\
                  C512,263.18,504.832,256.012,496,256.012z M416,128.012v32h-6.112l-16-32H416z M328.832,69.484l45.28,90.528h-28.224\
                  l-39.616-79.264L328.832,69.484z M264.832,69.484l45.28,90.528H83.776L264.832,69.484z M48,128.012h28.224L33.28,149.484\
                  c-0.64-1.76-1.28-3.552-1.28-5.472C32,135.18,39.168,128.012,48,128.012z M448,448.012H48c-8.832,0-16-7.168-16-16V188.94\
                  c5.248,1.888,10.624,3.072,16,3.072h400v64h-64c-35.296,0-64,28.704-64,64c0,35.296,28.704,64,64,64h64V448.012z M480,352.012h-96\
                  c-17.632,0-32-14.368-32-32c0-17.632,14.368-32,32-32h96V352.012z')
              +e.subtitle Вартість польоту за 1 па-ра:
                +b.tooltip_right
                  +e.text Какой-то длинный tooltip текст на подобие этого должен переноситься на несколько строк
              +e.title 4999 грн
      +b.SECTION.info-cards.content.content__inner
        +e.gallery
          +b.excursion-info-card_boxed
            +e.icon
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 142.447 142.447' style='enable-background:new 0 0 142.447 142.447;' xml:space='preserve')
                path(style='fill:#212121;' d='M71.224,0C31.951,0,0,31.951,0,71.224s31.951,71.224,71.224,71.224s71.224-31.951,71.224-71.224\
                  S110.496,0,71.224,0z M71.224,127.447C40.222,127.447,15,102.226,15,71.224S40.222,15,71.224,15s56.224,25.222,56.224,56.224\
                  S102.226,127.447,71.224,127.447z')
                path(style='fill:#212121;' d='M100.923,72.016H71.724V46.724c0-4.143-3.357-7.5-7.5-7.5s-7.5,3.357-7.5,7.5v32.792\
                  c0,4.143,3.357,7.5,7.5,7.5h36.699c4.143,0,7.5-3.357,7.5-7.5S105.065,72.016,100.923,72.016z')
            +e.content(data-before='Час польоту:') 24 хв
          +b.excursion-info-card_boxed
            +e.icon
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512; fill: #212121; stroke: #212121;' xml:space='preserve')
                path(d='M279,364c0,22.1,17.9,40,40,40h47c22.1,0,40-17.9,40-40v-47c0-22.1-17.9-40-40-40h-47c-22.1,0-40,17.9-40,40V364z\
                  M319,317h47l0,47c0,0,0,0,0,0h-47V317z')
                circle(cx='386' cy='210' r='20')
                circle(cx='299' cy='210' r='20')
                path(d='M492,452c11,0,20-9,20-20V120c0-44.1-35.9-80-80-80h-26V20c0-11-9-20-20-20s-20,9-20,20v20h-91V20c0-11-9-20-20-20\
                  s-20,9-20,20v20h-90V20c0-11-9-20-20-20s-20,9-20,20v20H80C35.9,40,0,75.9,0,120v312c0,44.1,35.9,80,80,80h352\
                  c44.1,0,80-35.9,80-80c0-11-9-20-20-20s-20,9-20,20c0,22.1-17.9,40-40,40H80c-22.1,0-40-17.9-40-40V120c0-22.1,17.9-40,40-40h25\
                  v20c0,11,9,20,20,20s20-9,20-20V80h90v20c0,11,9,20,20,20c11,0,20-9,20-20V80h91v20c0,11,9,20,20,20s20-9,20-20V80h26\
                  c22.1,0,40,17.9,40,40v312C472,443,481,452,492,452z')
                circle(cx='125' cy='384' r='20')
                circle(cx='125' cy='210' r='20')
                circle(cx='125' cy='297' r='20')
                circle(cx='212' cy='297' r='20')
                circle(cx='212' cy='210' r='20')
                circle(cx='212' cy='384' r='20')
            +e.content(data-before='День:') Політ в зручну дату
          +b.excursion-info-card_boxed
            +e.icon
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512; fill: #212121;' xml:space='preserve')
                path(d='M256,157c-68.925,0-125,56.075-125,125s56.075,125,125,125s125-56.075,125-125S324.925,157,256,157z M256,367\
                  c-46.869,0-85-38.131-85-85c0-46.869,38.131-85,85-85s85,38.131,85,85C341,328.869,302.869,367,256,367z')
                path(d='M452,97h-73.575c-2.329,0-4.428-1.271-5.508-3.327L352.562,50.9c-0.056-0.117-0.112-0.233-0.171-0.349\
                  C344.512,34.791,328.67,25,311.049,25H202.376c-17.621,0-33.463,9.791-41.342,25.552c-0.059,0.116-0.115,0.232-0.171,0.349\
                  l-20.356,42.775C139.427,95.729,137.329,97,135,97H60c-33.084,0-60,26.916-60,60v270c0,33.084,26.916,60,60,60h392\
                  c33.084,0,60-26.916,60-60V157C512,123.916,485.084,97,452,97z M472,426.999c0,11.028-8.972,20-20,20H60\
                  c-11.028,0-20-8.972-20-20V157c0-11.028,8.972-20,20-20h75c17.62,0,33.462-9.79,41.342-25.55c0.059-0.116,0.115-0.233,0.172-0.35\
                  l20.356-42.775c1.079-2.054,3.177-3.325,5.506-3.325h108.673c2.329,0,4.427,1.271,5.506,3.324l20.356,42.775\
                  c0.057,0.117,0.113,0.234,0.172,0.35c7.88,15.76,23.722,25.55,41.342,25.55H452c11.028,0,20,8.972,20,20V426.999z')
                rect(x='392' y='177' width='40' height='40')
            +e.content(data-before='Фотозйомка:') безкоштовна
          +b.excursion-info-card_boxed
            +e.icon
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512; fill: #212121;' xml:space='preserve')
                circle(cx='256' cy='30' r='30')
                path(d='M255,275c11.046,0,20-8.954,20-20c0-5.523-2.238-10.523-5.857-14.142l-177.5-177.5L63.357,91.642l177.501,177.5\
                  C244.477,272.761,249.477,275,255,275z')
                path(d='M322.911,50.57C410.603,79.116,472,161.905,472,256c0,4.678-0.167,9.317-0.461,13.922\
                  c14.182,2.82,27.294,8.648,38.639,16.791C511.38,276.596,512,266.346,512,256c0-59.438-20.831-117.354-58.657-163.079\
                  C419.49,51.998,373.56,22.55,322.716,8.82C324.844,15.505,326,22.619,326,30C326,37.156,324.916,44.063,322.911,50.57z')
                polygon(points='252,348 292,348 292,512 332,512 332,308 252,308 			')
                path(d='M452,308h-23c-33.084,0-60,26.916-60,60v84c0,33.084,26.916,60,60,60h23c33.084,0,60-26.916,60-60v-84\
                  C512,334.916,485.084,308,452,308z M472,452c0,11.028-8.972,20-20,20h-23c-11.028,0-20-8.972-20-20v-84c0-11.028,8.972-20,20-20\
                  h23c11.028,0,20,8.972,20,20V452z')
                path(d='M40,256c0-37.107,9.305-72.772,26.787-104.36l-29.25-29.25C13.085,162.203,0,208.089,0,256\
                  c0,68.38,26.629,132.667,74.98,181.02c47.408,47.407,110.137,73.913,177.02,74.932V471.95C134.737,469.807,40,373.765,40,256z')
            +e.content(data-before='Інструктаж:') перед польотом
          +b.excursion-info-card_boxed
            +e.icon
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 511.999 511.999' style='enable-background:new 0 0 511.999 511.999; fill: #212121;' xml:space='preserve')
                path(d='M492.165,192.459l-51.206-47.207l-0.201-0.183c-50.687-45.055-116.293-69.864-184.75-69.864c-0.009,0-0.024,0-0.033,0\
                  c-68.449,0.008-134.055,24.82-184.73,69.864l-51.407,47.391C6.04,204.78-1.135,222.42,0.146,240.879\
                  c1.281,18.447,10.814,34.916,26.163,45.212l33.693,23.526v52.178c0,49.237,98.6,74.999,195.998,74.999\
                  s195.998-25.762,195.998-74.999v-52.179l33.693-23.526c15.349-10.296,24.882-26.766,26.163-45.212\
                  C513.135,222.42,505.96,204.78,492.165,192.459z M379.067,389.98c-32.779,10.843-76.484,16.814-123.067,16.814\
                  s-90.288-5.972-123.067-16.814c-19.88-6.576-31.188-13.453-37.155-18.996c103.958-31.129,216.485-31.129,320.442,0\
                  C410.255,376.527,398.947,383.404,379.067,389.98z M421.998,341.385c-107.804-31.676-224.192-31.676-331.996,0v-28.661\
                  c107.475-33.479,224.521-33.479,331.996,0V341.385z M481.926,238.8c-0.636,9.16-5.382,17.334-13.021,22.427l-34.37,23.996\
                  c-115.44-36.794-241.627-36.794-357.067,0L43.365,261.41l-0.268-0.183c-7.64-5.093-12.386-13.267-13.021-22.427\
                  c-0.637-9.16,2.935-17.913,9.798-24.014l51.401-47.384c93.931-83.403,235.52-83.403,329.451,0l51.2,47.201l0.201,0.183\
                  C478.991,220.887,482.562,229.64,481.926,238.8z')
                polygon(points='341.256,152.567 271,175.986 271,136.797 241.001,136.797 241.001,175.986 170.744,152.567 161.258,181.027 \
                  241.001,207.608 241.001,226.796 271,226.796 271,207.608 350.742,181.027 		')
            +e.content(data-before='Перед польотом:') Знайомство з пілотом
        +b.A(href='#').button Замовити
      +b.SECTION.trip-on-map
        h2.sm-tablet Замовивши дану екскурсію, ви побачите
        +e.map-wrapper#js__map
        .content.content__inner.sm-tablet
          ul.rounded
            li Трухановим островом;
            li Дніпром;
            li Набережним шосе;
            li Аркою дружби народів;
            li Аркою дружби народів;
            li Вул. Набережно-Хрещатицькою;
            li Гаванським та Південним мостом;
            li Парком та островом Муромець;
            li Оболонською набережною;
            li Київською ГЕС;
            li м. Вишгородом;
            li Межигір'я;
            li Територією Межигір'я, що включає національний парк, резиденцію, поле для гольфу і мальовничу пристань Galleon.
          p Чудові краєвиди з висоти не можуть залишити байдужими. Побачивши їх, хочеться запам'ятати назавжди, тому пасажирам можна вести фото- або відеозйомку, що ніяк не впливають на ціну вертолітного туру.
          a.button(href='#') Замовити
        +e.content.no-sm-tablet
          h2 Замовивши дану екскурсію, ви побачите
          ul.rounded
            li(data-marker="0") Трухановим островом;
            li(data-marker="1") Дніпром;
            li(data-marker="2") Набережним шосе;
            li(data-marker="3") Аркою дружби народів;
            li(data-marker="4") Аркою дружби народів;
            li(data-marker="5") Вул. Набережно-Хрещатицькою;
            li Гаванським та Південним мостом;
            li Парком та островом Муромець;
            li Оболонською набережною;
            li Київською ГЕС;
            li м. Вишгородом;
            li Межигір'я;
            li Територією Межигір'я, що включає національний парк, резиденцію, поле для гольфу і мальовничу пристань Galleon.
          p Чудові краєвиди з висоти не можуть залишити байдужими. Побачивши їх, хочеться запам'ятати назавжди, тому пасажирам можна вести фото- або відеозйомку, що ніяк не впливають на ціну вертолітного туру.
          a.button(href='#') Замовити
      +col-text.first-col-text
      +excursions-certificate
      +b.SECTION.helitours-for-excursions.content.content__inner
        h2 Доступні вертольоти для ЦІЄЇ ЕКСКУРСІЇ
        .gallery
          +b.base-card_article.gallery__item_free
            +e.img(data-back-webp='img/helic1.webp' data-back-jpg='img/helic1.jpg')
            +e.content
              +e.P.title Robinson R44 Raven II
              +e.text
                p Дальність польоту: 770 км
                p Крейсерська швидкість: 200 км/год
                p Місткість: 4 пасажирів + пілот
              a(href="#") забронювати
          +b.base-card_article.gallery__item_free
            +e.img(data-back-webp='img/helic2.webp' data-back-jpg='img/helic2.jpg')
            +e.content
              +e.P.title Bell 407
              +e.text
                p Дальність польоту: 598 км
                p Крейсерська швидкість: 246 км/год
                p Місткість: 6 пасажирів + пілот
              a(href="#") забронювати
      +col-text
      +our-instagram
      +our-excursions
    +footer
    +b.fixed-excursion-info_keys.content#js__fixed-visible-control
      +b.excursion-info-card_flat
        +e.SVG.icon(height='682pt' viewbox='-21 -102 682.66669 682' width='682pt' xmlns='http://www.w3.org/2000/svg')
          path(d='m640 398.457031v-87.578125l-76.1875-110.214844c-24.640625-35.65625-61.789062-56.105468-101.914062-56.105468h-39.796876v-75.578125h-43.804687v-36.660157h159.042969v-37.488281h-355.550782v37.488281h159.015626v36.660157h-43.773438v75.578125h-182.296875l-27.074219-67.699219h-87.660156v178.980469h90.941406l202.527344 39.617187v14.410157c0 48.847656 39.738281 88.589843 88.585938 88.589843h2.554687v35.972657h-56.8125v37.484374h311.96875v-37.484374h-76.164063v-35.972657zm-107.023438-176.480469 40.84375 59.085938h-108.140624l-44.757813-99.011719h40.972656c27.636719 0 53.542969 14.550781 71.082031 39.925781zm-198.460937-115.511718h50.09375v38.09375h-50.09375zm-210.183594 75.585937h38.714844v49.703125l-38.714844-7.578125zm-86.847656-67.707031h24.796875l24.5625 61.421875v42.589844h-49.359375zm293.46875 195.527344v-45.273438l-130.421875-25.511718v-57.035157h179.253906l61.703125 136.5h158.242188l2.785156 4.023438v38.398437h-220.460937c-28.179688 0-51.101563-22.925781-51.101563-51.101562zm195.164063 124.558594h-104.015626v-35.972657h104.015626zm0 0')
        div
          +e.subtitle Вертолiт:
          +e.title Robinson R44
      +b.excursion-info-card_flat
        +e.SVG.icon(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
          path(d='M437,268.152h-50.118c-6.821,0-13.425,0.932-19.71,2.646c-12.398-24.372-37.71-41.118-66.877-41.118h-88.59\
                          c-29.167,0-54.479,16.746-66.877,41.118c-6.285-1.714-12.889-2.646-19.71-2.646H75c-41.355,0-75,33.645-75,75v80.118\
                          c0,24.813,20.187,45,45,45h422c24.813,0,45-20.187,45-45v-80.118C512,301.797,478.355,268.152,437,268.152z M136.705,304.682\
                          v133.589H45c-8.271,0-15-6.729-15-15v-80.118c0-24.813,20.187-45,45-45h50.118c4.072,0,8.015,0.553,11.769,1.572\
                          C136.779,301.366,136.705,303.016,136.705,304.682z M345.295,438.271h-178.59V304.681c0-24.813,20.187-45,45-45h88.59\
                          c24.813,0,45,20.187,45,45V438.271z M482,423.271c0,8.271-6.729,15-15,15h-91.705v-133.59c0-1.667-0.074-3.317-0.182-4.957\
                          c3.754-1.018,7.697-1.572,11.769-1.572H437c24.813,0,45,20.187,45,45V423.271z')
          path(d='M100.06,126.504c-36.749,0-66.646,29.897-66.646,66.646c-0.001,36.749,29.897,66.646,66.646,66.646\
                          c36.748,0,66.646-29.897,66.646-66.646C166.706,156.401,136.809,126.504,100.06,126.504z M100.059,229.796\
                          c-20.207,0-36.646-16.439-36.646-36.646c0-20.207,16.439-36.646,36.646-36.646c20.207,0,36.646,16.439,36.646,36.646\
                          C136.705,213.357,120.266,229.796,100.059,229.796z')
          path(d='M256,43.729c-49.096,0-89.038,39.942-89.038,89.038c0,49.096,39.942,89.038,89.038,89.038s89.038-39.942,89.038-89.038\
                          C345.038,83.672,305.096,43.729,256,43.729z M256,191.805c-32.554,0-59.038-26.484-59.038-59.038\
                          c0-32.553,26.484-59.038,59.038-59.038s59.038,26.484,59.038,59.038C315.038,165.321,288.554,191.805,256,191.805z')
          path(d='M411.94,126.504c-36.748,0-66.646,29.897-66.646,66.646c0.001,36.749,29.898,66.646,66.646,66.646\
                          c36.749,0,66.646-29.897,66.646-66.646C478.586,156.401,448.689,126.504,411.94,126.504z M411.94,229.796\
                          c-20.206,0-36.646-16.439-36.646-36.646c0.001-20.207,16.44-36.646,36.646-36.646c20.207,0,36.646,16.439,36.646,36.646\
                          C448.586,213.357,432.147,229.796,411.94,229.796z')
        div
          +e.subtitle К-сть пасажирів:
          +e.title 3 пасажири + пілот
      +b.excursion-info-card_flat
        +e.SVG.icon(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 142.447 142.447' style='enable-background:new 0 0 142.447 142.447;' xml:space='preserve')
          path(style='fill:#212121;' d='M71.224,0C31.951,0,0,31.951,0,71.224s31.951,71.224,71.224,71.224s71.224-31.951,71.224-71.224\
            S110.496,0,71.224,0z M71.224,127.447C40.222,127.447,15,102.226,15,71.224S40.222,15,71.224,15s56.224,25.222,56.224,56.224\
            S102.226,127.447,71.224,127.447z')
          path(style='fill:#212121;' d='M100.923,72.016H71.724V46.724c0-4.143-3.357-7.5-7.5-7.5s-7.5,3.357-7.5,7.5v32.792\
            c0,4.143,3.357,7.5,7.5,7.5h36.699c4.143,0,7.5-3.357,7.5-7.5S105.065,72.016,100.923,72.016z')
        div
          +e.subtitle Час польоту:
          +e.title 24 хв
      +b.excursion-info-card_flat
        +e.SVG.icon(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
          path(d='M496,256.012h-16v-80c0-8.832-7.168-16-16-16h-16v-48c0-8.832-7.168-16-16-16h-54.112l-27.584-55.168\
                        c-3.968-7.936-13.568-11.104-21.472-7.168L291.968,52.14l-5.664-11.296c-3.968-7.904-13.568-11.104-21.472-7.136L140.224,96.012\
                        H48c-26.464,0-48,21.536-48,48v288c0,26.464,21.536,48,48,48h416c8.832,0,16-7.168,16-16v-80h16c8.832,0,16-7.168,16-16v-96\
                        C512,263.18,504.832,256.012,496,256.012z M416,128.012v32h-6.112l-16-32H416z M328.832,69.484l45.28,90.528h-28.224\
                        l-39.616-79.264L328.832,69.484z M264.832,69.484l45.28,90.528H83.776L264.832,69.484z M48,128.012h28.224L33.28,149.484\
                        c-0.64-1.76-1.28-3.552-1.28-5.472C32,135.18,39.168,128.012,48,128.012z M448,448.012H48c-8.832,0-16-7.168-16-16V188.94\
                        c5.248,1.888,10.624,3.072,16,3.072h400v64h-64c-35.296,0-64,28.704-64,64c0,35.296,28.704,64,64,64h64V448.012z M480,352.012h-96\
                        c-17.632,0-32-14.368-32-32c0-17.632,14.368-32,32-32h96V352.012z')
        div
          +e.subtitle Вартість польоту за 1
            br
            | па-ра:
            +b.tooltip_black
              +e.text Какой-то длинный tooltip текст на подобие этого должен переноситься на несколько строк
          +e.title 4999 грн