include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title Helitour | helitours
    link(href="css/helitours.css" rel="stylesheet")
    script(defer src="js/helitours.js")
  body
    +header('_mb')
    main
      +b.SECTION.bg_stroke._with-header
        h1 Наші вертольоти
      +b.SECTION.card-gallery.content.content__inner
        +e.content
          +b.A.helicopter-card.card-gallery__card(href="#")
            +picture('img/helic1.webp', 'img/helic1.jpg', 'Helicopter', 'helicopter-card__img')
            +e.content
              +e.H2.name Robinson R44 Raven II
              +e.SPAN.info 3 пасажири + пілот
          +b.A.helicopter-card.card-gallery__card(href="#")
            +picture('img/helic2.webp', 'img/helic2.jpg', 'Helicopter', 'helicopter-card__img')
            +e.content
              +e.H2.name Bell 407
              +e.SPAN.info 3 пасажири + пілот
          +b.A.helicopter-card.card-gallery__card(href="#")
            +picture('img/helic3.webp', 'img/helic3.jpg', 'Helicopter', 'helicopter-card__img')
            +e.content
              +e.H2.name Eurocopter EC120
              +e.SPAN.info 3 пасажири + пілот
          +b.A.helicopter-card.card-gallery__card(href="#")
            +picture('img/helic4.webp', 'img/helic4.jpg', 'Helicopter', 'helicopter-card__img')
            +e.content
              +e.H2.name Agusta 109
              +e.SPAN.info 3 пасажири + пілот
          +b.A.helicopter-card.card-gallery__card(href="#")
            +picture('img/helic5.webp', 'img/helic5.jpg', 'Helicopter', 'helicopter-card__img')
            +e.content
              +e.H2.name R66
              +e.SPAN.info 3 пасажири + пілот
      +our-instagram
      +b.SECTION.col-text.content.content__inner
        +e.text.content__text
          p За відгуками багатьох, така розвага повністю виправдовує свою ціну і коштує досить недорого. Вартість вертолітного туру доступна людині із середнім рівнем доходу і залежить від тривалості подорожі. У компанії «Helitour» ви також можете недорого придбати сертифікат в подарунок. Такий презент стане прекрасним сюрпризом для близької вам людини.
          p Для того, щоб дізнатися більш детальну інформацію про бронювання вертольота на весілля або уточнити скільки коштує тур, достатньо зателефонувати нам по одному з телефонних номерів, вказаних на сайті.
    +footer