include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title Helitour | helitour
    //- link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")
    link(href="css/helitour.css" rel="stylesheet")
    script(defer src="js/helitour.js")
  body
    +header('_mb')
    main
      +b.SECTION.helicopter
        +b.helicopter-slider.helicopter__slider
          .swiper-container.main-slider
            .swiper-wrapper
              .swiper-slide(data-back-webp="img/slide1.webp" data-back-jpg="img/slide1.jpg")
              .swiper-slide
                .desktop(style='width:100%;height:100%' data-youtube-player="OXuIqaeg0SI")#youtube-player
                .tablet(style='width:100%;height:100%;display:flex;align-items:center;justify-content:center;' data-back-webp="img/slide1.webp" data-back-jpg="img/slide1.jpg")
                  a(href='https://www.youtube.com/watch?v=fCjw_2jB71I' target='_blank' style='display:block;width:fit-content;height:fit-content;')
                    img(src='img/youtube.png' style='height:200px')
              .swiper-slide(data-back-webp="img/slide3.webp" data-back-jpg="img/slide3.jpg")
              .swiper-slide(data-back-webp="img/slide1.webp" data-back-jpg="img/slide1.jpg")
              .swiper-slide(data-back-webp="img/slide2.webp" data-back-jpg="img/slide2.jpg")
              .swiper-slide(data-back-webp="img/slide3.webp" data-back-jpg="img/slide3.jpg")
            .swiper-pagination
          .thumb-slider
            .swiper-container
              .swiper-wrapper
                .swiper-slide(data-back-webp="img/slide1.webp" data-back-jpg="img/slide1.jpg")
                .swiper-slide(data-back-webp="img/youtube-preview.webp" data-back-jpg="img/youtube-preview.jpg")
                .swiper-slide(data-back-webp="img/slide3.webp" data-back-jpg="img/slide3.jpg")
                .swiper-slide(data-back-webp="img/slide1.webp" data-back-jpg="img/slide1.jpg")
                .swiper-slide(data-back-webp="img/slide2.webp" data-back-jpg="img/slide2.jpg")
                .swiper-slide(data-back-webp="img/slide3.webp" data-back-jpg="img/slide3.jpg")
            .swiper-button-prev
            .swiper-button-next
        +b.helicopter-content.helicopter__content.content.content__inner
          +e.H1.name Robinson R44
          +e.P.text Robinson R44 – легкий багатоцільовий чотиримісний комерційний гелікоптер виробництва компанії «Robinson Helicopter», США. Гелікоптер був розроблений в 1980-і роки. Здійснив перший політ 31 березня 1990 року і в грудні 1992 року пройшов сертифікацію.
          +e.TABLE.specification
            tr
              th Дальність польоту:
              td 560 км
            tr
              th Крейсерська швидкість:
              td 180 км/год
            tr
              th Місткість:
              td 3 пасажири + пілот
            tr
              th Максимальна швидкість:
              td 240 км/год
            tr
              th Довжина:
              td 9 м
            tr
              th Масса:
              td 657,7 кг
      +our-excursions
      +our-instagram
    +footer