include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title Helitour | one-service
    link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")
    link(href="css/one-service.css" rel="stylesheet")
    script(defer src="js/one-service.js")
  body
    +header
    main
      +b.SECTION.bg_with-header
        +picture('img/one-service-back.webp', 'img/one-service-back.jpg', 'One service photo', 'bg__image')
        +e.content.content.content__inner
          +e.H1.content-item_header Оренда вертольота в Києві
          +e.content-item_text
            p Швидкість пересування вертольота в шість разів перевищує показники автомобіля. Пілотові не доводиться стояти в пробках, гальмувати на світлофорах або перед пішохідними переходами, а пасажири повітряного транспорту не відчувають дискомфорту через погані дороги.
            p Саме тому оренда вертольота в Києвіі інших містах набуває все більшої популярності
          +e.SPAN(data-before='Ціна:' data-after='грн').content-item.price 5 250
          +e.content-item_buttons
            +b.A(href='#').button Забронювати
            +b.A(href='#').button_white.js__open-modal-reserve Задати запитання
      +b.SECTION.with-helic-back
        .content.content__inner
          .content__text
            +e.H2.header Де замовити оренду вертольота в Києві?
            +e.P.text='Компанія «Helitour» – це команда досвідчених професіоналів, які щодня працюють над створенням максимально комфортних умов для кожного клієнта. Недорогі оглядові екскурсії, '
              a(href='#').base-link чартерні польоти
              =' на вертольоті по Україні, міні-подорожі по індивідуально розробленим планам і навіть вантажні перевезення – послуги, якими сьогодні може скористатися кожен.'
            +b.SPAN.button.js__open-modal-reserve Задати запитання
      +b.SECTION.service-advantages
        .content.content__inner
          +e.H2.header Чому варто замовити політ саме у нас?
          +e.UL.list
            +e.LI(style='--data-before: url("data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNSAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTguMSAxMkMxOS40ODA3IDEyIDIwLjYgMTAuODgwNyAyMC42IDkuNUMyMC42IDguMTE5MjkgMTkuNDgwNyA3IDE4LjEgN0MxNi43MTkzIDcgMTUuNiA4LjExOTI5IDE1LjYgOS41QzE1LjYgMTAuODgwNyAxNi43MTkzIDEyIDE4LjEgMTJaIiBzdHJva2U9IiMwZmFjZDAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjxwYXRoIGQ9Ik0xMC4xIDZDMTEuNDgwNyA2IDEyLjYgNC44ODA3MSAxMi42IDMuNUMxMi42IDIuMTE5MjkgMTEuNDgwNyAxIDEwLjEgMUM4LjcxOTI2IDEgNy41OTk5OCAyLjExOTI5IDcuNTk5OTggMy41QzcuNTk5OTggNC44ODA3MSA4LjcxOTI2IDYgMTAuMSA2WiIgc3Ryb2tlPSIjMGZhY2QwIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48cGF0aCBkPSJNMTUuMSAxNy41QzE1LjEgMTcuNSAxOS4zIDE1LjggMjAuOCAxNS41QzIyIDE1LjMgMjIuOCAxNS44IDIzLjMgMTYuMkMyMy45IDE2LjcgMjMuNyAxNy42IDIzIDE3LjlMMTEuMiAyMi4xQzEwLjMgMjIuNCA5LjQgMjIuNCA4LjUgMjJMMS42MDAwMSAxOC44QzEuMjAwMDEgMTguNiAxIDE4LjMgMSAxNy45VjEyLjVDMSAxMS45IDEuNTAwMDEgMTEuNCAyLjEwMDAxIDExLjVDMy4yMDAwMSAxMS42IDQuOCAxMiA3IDEzLjVINy4yMDAwMUgxMS40QzEzLjggMTMuNSAxNS4xIDE1LjMgMTUuMSAxNy41Wk0xNS4xIDE3LjVIMTQuN0g3LjEwMDAxIiBzdHJva2U9IiMwZmFjZDAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==")').list-item
              +e.H3.list-item-header Невисока ціна
              +e.P.list-item-text Саме питання вартості вертолітного подорожі, як правило, хвилює людей найбільше. І це зовсім не дивно. Адже не так давно, далеко не кожен міг собі дозволити замовити політ на вертольоті. Стереотип «дорожнечі» цієї послуги закріпився за нею, хоча і незаслужено.
            +e.LI(style='--data-before: url("data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAyLjQwMDAxVjE5LjNDMSAxOS43IDEuMjAwMDEgMjAgMS42MDAwMSAyMC4yTDguNjAwMDEgMjMuN0M4LjkwMDAxIDIzLjggOS4zIDIzLjggOS41IDIzLjdMMTUuNiAyMC4yQzE1LjkgMjAgMTYuMiAyMCAxNi41IDIwLjJMMjIuNiAyMy4yQzIzLjMgMjMuNSAyNCAyMyAyNCAyMi4zVjQuNTk5OTZDMjQgNC4xOTk5NiAyMy43IDMuOCAyMy40IDMuN0wxNi40IDEuMDk5OTZDMTYuMiAwLjk5OTk2MyAxNS45IDAuOTk5OTYzIDE1LjcgMS4wOTk5Nkw5LjM5OTk5IDMuNzk5OThDOS4xOTk5OSAzLjg5OTk4IDguOTAwMDEgMy44OTk5OCA4LjcwMDAxIDMuNzk5OThMMi4zOTk5OSAxLjQwMDAxQzEuNjk5OTkgMS4zMDAwMSAxIDEuNzAwMDEgMSAyLjQwMDAxWiIgc3Ryb2tlPSIjMGZhY2QwIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48cGF0aCBkPSJNOSAyNFY0IiBzdHJva2U9IiMwZmFjZDAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjxwYXRoIGQ9Ik0xNiAyMFYxIiBzdHJva2U9IiMwZmFjZDAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==")').list-item
              +e.H3.list-item-header Різноманітність маршрутів
              +e.P.list-item-text Для того, щоб здійснити мрію свого близької людини або власну, цілком достатньо купити недорогий оглядовий тур над столицею. Незважаючи на його невисоку вартість, море незабутніх вражень гарантовані всім пасажирам. Але, не варто обмежуватися лише цим.
            +e.LI(style='--data-before: url("data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyMCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAgMUM3IDMgNCA0IDEgM1YxNEMxIDE4IDcgMjEgMTAgMjRDMTMgMjEgMTkgMTggMTkgMTRWM0MxNiA0IDEzIDMgMTAgMVoiIHN0cm9rZT0iIzBmYWNkMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+")').list-item
              +e.H3.list-item-header Сертифікована техніка
              +e.P.list-item-text Залежно від мети оренди і кількості пасажирів ви можете вибрати одну з наступних моделей: Robinson R44 Raven II, Eurocopter EC120, Bell 407.
            +e.LI(style='--data-before: url("data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyMCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAgMUM3IDMgNCA0IDEgM1YxNEMxIDE4IDcgMjEgMTAgMjRDMTMgMjEgMTkgMTggMTkgMTRWM0MxNiA0IDEzIDMgMTAgMVoiIHN0cm9rZT0iIzBmYWNkMCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+")').list-item
              +e.H3.list-item-header Сертифікована техніка
              +e.P.list-item-text Залежно від мети оренди і кількості пасажирів ви можете вибрати одну з наступних моделей: Robinson R44 Raven II, Eurocopter EC120, Bell 407.
      +b.SECTION.rental-terms.content.content__inner
        +e.header
          +e.H2.title Умови оренди вертольота
          +e.P.header-text Багаторічний досвід роботи дозволив нам створити оптимальні умови співпраці з клієнтами. Обмеження оренди скорочені до необхідного мінімуму і засновані виключно на безпеці і комфорті пасажирів:
        +e.UL.content-list.rounded
          +e.LI.list-item Для здійснення польоту погода повинна бути досить ясною, тому гроза, туман, низька хмарність і інші негативні фактори можуть стати причиною перенесення подорожі
          +e.LI.list-item Вам варто забронювати місце хоча б за два дні до здійснення туру, але, якщо ви цього не зробили, ми докладемо всіх зусиль, щоб ви змогли полетіти навіть в тому випадку, якщо оголосили про свої наміри за все за кілька годин до зльот
          +e.LI.list-item Час зльоту може варіюватися в залежності від побажань клієнтів, але посадка на аеродром має бути здійснена до заходу сонця
          +e.LI.list-item Завдяки опалювальних систем, якими оснащений Робінсон та інші моделі, вертолітні подорожі здійснюються в будь-який час року
      +b.SECTION.service-prices.content.content__inner
        +e.H2.title Ціни
        +e.P.text Ціни вказані USD, оплата в грн по курсу НБУ
        +e.regions-list-wrapper.tablet
          +e.regions-list#js__extend-list-control
            +b.region-info_boxed
              +e.H4.title Чернігів
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 999
            +b.region-info_boxed
              +e.H4.title Луцьк
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2699
            +b.region-info_boxed
              +e.H4.title Рівне
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2399
            +b.region-info_boxed
              +e.H4.title Житомир
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2399
            +b.region-info_boxed
              +e.H4.title Київ
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 3599
            +b.region-info_boxed
              +e.H4.title Львів
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 3599
            +b.region-info_boxed
              +e.H4.title Тернопіль
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2599
            +b.region-info_boxed
              +e.H4.title Ужгород
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 4799
            +b.region-info_boxed
              +e.H4.title Івано-франківськ
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2999
            +b.region-info_boxed
              +e.H4.title Хмельницьк
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 1799
            +b.region-info_boxed
              +e.H4.title Вінниця
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 1799
            +b.region-info_boxed
              +e.H4.title Черкаси
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 1299
            +b.region-info_boxed
              +e.H4.title Умань
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 1599
            +b.region-info_boxed
              +e.H4.title Полтава
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 1899
            +b.region-info_boxed
              +e.H4.title Суми
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2699
            +b.region-info_boxed
              +e.H4.title Харків
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2999
            +b.region-info_boxed
              +e.H4.title Дніпро
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2999
            +b.region-info_boxed
              +e.H4.title Кіровоград
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 1749
            +b.region-info_boxed
              +e.H4.title Одеса
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2599
            +b.region-info_boxed
              +e.H4.title Херсон
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 3599
            +b.region-info_boxed
              +e.H4.title Запоріжжя
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 3299
            +b.region-info_boxed.disable
              +e.H4.title Крим
            +b.region-info_boxed
              +e.H4.title Миколаєв
              +e.SPAN.time 01:25
              +e.SPAN(data-after='$').price 2999
            +b.region-info_boxed.disable
              +e.H4.title Донецьк
            +b.region-info_boxed.disable
              +e.H4.title Луганськ
          +b.SPAN.button#js__extend-list-controller Дивитись всі
        +e.svg-wrapper.desktop
          include ../../mokups/exports/svg-map.svg
          
          +b.region-info(data-path-ref='svg-map_27')
            +e.H4.title Буковель
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 3799
          +b.region-info(data-path-ref='svg-map_28')
            +e.H4.title Черниговцы
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 3099
          +b.region-info(data-path-ref='svg-map_29')
            +e.H4.title Кривой рог
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2849
          +b.region-info(data-path-ref='svg-map_30')
            +e.H4.title Гадяч
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2849
          +b.region-info(data-path-ref='svg-map_1')
            +e.H4.title Чернігів
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 999
          +b.region-info(data-path-ref='svg-map_2')
            +e.H4.title Луцьк
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2699
          +b.region-info(data-path-ref='svg-map_3')
            +e.H4.title Рівне
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2399
          +b.region-info(data-path-ref='svg-map_4')
            +e.H4.title Житомир
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2399
          +b.region-info(data-path-ref='svg-map_5')
            +e.H4.title Київ
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 3599
          +b.region-info(data-path-ref='svg-map_6')
            +e.H4.title Львів
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 3599
          +b.region-info(data-path-ref='svg-map_7')
            +e.H4.title Тернопіль
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2599
          +b.region-info(data-path-ref='svg-map_8')
            +e.H4.title Ужгород
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 4799
          +b.region-info(data-path-ref='svg-map_9')
            +e.H4.title Івано-франківськ
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2999
          +b.region-info(data-path-ref='svg-map_10')
            +e.H4.title Хмельницьк
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 1799
          +b.region-info(data-path-ref='svg-map_12')
            +e.H4.title Вінниця
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 1799
          +b.region-info(data-path-ref='svg-map_13')
            +e.H4.title Черкаси
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 1299
          +b.region-info(data-path-ref='svg-map_26')
            +e.H4.title Умань
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 1599
          +b.region-info(data-path-ref='svg-map_14')
            +e.H4.title Полтава
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 1899
          +b.region-info(data-path-ref='svg-map_15')
            +e.H4.title Суми
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2699
          +b.region-info(data-path-ref='svg-map_16')
            +e.H4.title Харків
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2999
          +b.region-info(data-path-ref='svg-map_17')
            +e.H4.title Дніпро
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2999
          +b.region-info(data-path-ref='svg-map_18')
            +e.H4.title Кіровоград
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 1749
          +b.region-info(data-path-ref='svg-map_19')
            +e.H4.title Одеса
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2599
          +b.region-info(data-path-ref='svg-map_20')
            +e.H4.title Херсон
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 3599
          +b.region-info(data-path-ref='svg-map_21')
            +e.H4.title Запоріжжя
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 3299
          +b.region-info.disable(data-path-ref='svg-map_22')
            +e.H4.title Крим
          +b.region-info(data-path-ref='svg-map_23')
            +e.H4.title Миколаєв
            +e.SPAN.time 01:25
            +e.SPAN(data-after='$').price 2999
          +b.region-info.disable(data-path-ref='svg-map_24')
            +e.H4.title Донецьк
          +b.region-info.disable(data-path-ref='svg-map_25')
            +e.H4.title Луганськ
      +our-instagram
    +footer
    +b.modal
      +b.modal-reserve
        +e.FORM.content(data-modal-body)
          +e.H2.title Задати запитання
          +b.INPUT(type='text' placeholder='Ваше ім’я').text-input
          +b.INPUT(type='text' placeholder='Ваш телефон').text-input
          +b.TEXTAREA(placeholder='Ваше питання').text-input
          +b.BUTTON().button Забронювати