include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title Helitour | services
    //- link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")
    link(href="css/services.css" rel="stylesheet")
    script(defer src="js/services.js")
  body
    +header('_mb')
    main
      +b.SECTION.bg_stroke._with-header
        h1 Наші послуги
      +b.SECTION.services.content.content__inner
        +services-gallery
      +col-text
    +footer