include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    title Helitour | services
    link(href="css/services.css" rel="stylesheet")
    script(defer src="js/services.js")
  body
    +header('_mb')
    main
      +b.SECTION.bg_stroke._with-header
        h1 Наші послуги
      +b.SECTION.services.content.content__inner
        +b.services-gallery
          +b.service-card
            +picture('img/services-1.webp', 'img/services-1.jpg', 'Service', 'service-card__img')
            +e.content
              h3 Оренда вертольота в Києві
              a(href='#') дОКЛАДНШЕ
          +b.service-card
            +picture('img/services-2.webp', 'img/services-2.jpg', 'Service', 'service-card__img')
            +e.content
              h3 Екскурсія на вертольоті
              a(href='#') дОКЛАДНШЕ
          +b.service-card
            +picture('img/services-3.webp', 'img/services-3.jpg', 'Service', 'service-card__img')
            +e.content
              h3 Чартерні польоти на вертольоті
              p Польоти по маршрутам замовника
              a(href='#') дОКЛАДНШЕ
          +b.service-card
            +picture('img/services-4.webp', 'img/services-4.jpg', 'Service', 'service-card__img')
            +e.content
              h3 Політ на вертольоті для двох
              a(href='#') дОКЛАДНШЕ
          +b.service-card
            +picture('img/services-5.webp', 'img/services-5.jpg', 'Service', 'service-card__img')
            +e.content
              h3 вертоліт на весіля
              a(href='#') дОКЛАДНШЕ
          +b.service-card
            +picture('img/services-6.webp', 'img/services-6.jpg', 'Service', 'service-card__img')
            +e.content
              h3 Хеліскіінг
              a(href='#') дОКЛАДНШЕ
      +col-text
    +footer